// main: tabernawp.less, main: style.less

.site-header, .site-footer {
    background-color: @primary-color;
}

.main-navigation {
    background-color: @secondary-color;
}

.site-content {
    border: 1px solid @gray-color-light;
    max-width: @size-xl;
    margin: auto;
    padding: @layout-padding-lg;
}

/*
 * Layout: Content-Sidebar
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
}
.site-main {
	margin: 0 25% 0 0;
}
.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	clear: both;
	width: 100%;
}